*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #191825;
}

.input-field{
    position: relative;
}

.input-field input{
    width: 350px;
    height: 60px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    border: 2px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;
    margin-top: 59px;
}

.input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 19px;
    pointer-events: none;
    transition: .3s;
    margin-top: 29px;
}

input:focus{
    border: 2px solid #1cd679;
}

input:focus ~ label,
input:valid ~ label{
    top: 0;
    font-size: 16px;
    padding: 0 10px;
    background: #191825;
    margin-top: 59px;
}

.submit-button{
    background-color: #2a832dd3;
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    font-family:Helvetica Neue,Arial, Helvetica, sans-serif;
    width: 142px;
    height: 33px;
    margin-top: 1px;
}
.button:hover{
    background-color: green;
}
.button-div{
    margin-left: 99px;
    margin-top: 40px;
}